#logo {
    padding-top: 0%;
    padding-left: 42%;
    padding-right: 45%;
}

.nav.navbar-nav.navbar-right {
    padding-top: 0%;
    margin-top: 0%;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

/*stylisation fot the carousel*/
.carousel-inner img {
    width: 70%; /* Set width to 100% */
    margin: auto;
}

/*stylisation for the history/rules blocks */
.thumbnail {
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
}

footer {
    border-style:solid;
    border-width: 5px;
    margin-top: 10%;

}

#centeredEmail {
    margin = 0;
}

